/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003899;
  }
  
  /* Encabezado */
  header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  header img {
    max-width: 100px;
    margin-top: 16px;
  }
  
  /* Botones */
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  button {
    margin: 8px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    background-color: #0A54C2;
  }
  
  button:hover {
    background-color: #0D6CF2;
    color: #fff;
  }

  /* Pie de página */
footer {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  font-size: 14px; /* Smaller font size for contact info */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;  
}

footer a {
  margin: 8px;
}

p {
  margin: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
  
  /* Responsive */
  @media (max-width: 768px) {
    header img {
      max-width: 100px;
    }
  }
  